In [11]:
import pandas as pd
from scipy.stats import ttest_1samp, t

In [3]:
bmi_data = pd.read_csv("bmi.csv")
bmi_data.head()
bmi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
Gender    500 non-null object
Height    500 non-null int64
Weight    500 non-null int64
Index     500 non-null int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [5]:
bmi_data['BMI'] = bmi_data['Weight'] / ((bmi_data['Height']/100)**2)
bmi_data.head()

   Gender  Height  Weight  Index        BMI
0    Male     174      96      4  31.708284
1    Male     189      87      2  24.355421
2  Female     185     110      4  32.140248
3  Female     195     104      3  27.350427
4    Male     149      61      3  27.476240

In [6]:
bmi_data.describe()

           Height      Weight       Index         BMI
count  500.000000  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000   37.765284
std     16.375261   32.382607    1.355053   13.965620
min    140.000000   50.000000    0.000000   12.753801
25%    156.000000   80.000000    3.000000   27.169353
50%    170.500000  106.000000    4.000000   36.956941
75%    184.000000  136.000000    5.000000   46.390467
max    199.000000  160.000000    5.000000   78.853402

In [7]:
popmean = 20
t_stat, p_value = ttest_1samp(bmi_data['BMI'], popmean=popmean)

print(f"t-value: {t_stat}")
print(f"p-value: {p_value}")

t-value: 28.444409926598723
p-value: 1.7057600842443e-106

In [15]:
alpha = 0.05
samplez_size = len(bmi_data['BMI'])
df = samplez_size - 1
t_critical = t.ppf(1 - alpha / 2, df)

In [13]:
if abs(t_stat) > t_critical:
    print("귀무가설을 기각합니다.")
else:
    print("귀무가설을 기각할 수 없습니다.")

귀무가설을 기각합니다.

In [17]:
cohen_d = (t_stat - popmean) * (samplez_size) ** 0.5
print("Cohen's d:", cohen_d)

Cohen's d: 188.82274625748755